@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: var(--font-sans);
    --font-heading: var(--font-heading);
    --font-subheading: var(--font-subheading);
    --color-black: oklch(10.98% 0.01 270.31);

    --color-white: oklch(0.9581 0 0);
    --color-light-gray: oklch(0.8545 0 0);
    --color-blue-gray: oklch(0.6883 0.0198 250.67);
    --color-green: oklch(0.5641 0.0315 146.75);
    --color-light-green: oklch(0.4525 0.0252 147.27);
    --color-dark-green: oklch(0.4182 0.0315 146.75);
    --color-red: oklch(0.1867 0.0215 357.75);
    --color-red-light: oklch(0.2347 0.0254 357.55);
    --color-gray: oklch(0.2102 0.0016 17.28);
    --color-purple: oklch(82.15% 0.055 277.12);
    --color-teal: oklch(0.2402 0.0199 147.95);
    --color-brown: oklch(0.2001 0.0358 89.09);
    --animate-click: button-pop 0.2s ease-out;

    --breakpoint-md: 53.75rem;
    --breakpoint-7xl: 1080px;
    --breakpoint-8xl: 80rem;


    @keyframes button-pop {
        0% {
            transform: scale(0.97);
        }

        40% {
            transform: scale(1.02);
        }

        100% {
            transform: scale(1);
        }
    }
}

@utility break-right {
    margin-right: -50vw;

    @media (min-width: theme('screens.sm')) {
        margin-right: calc(-1 * ((max(80rem, 100vw) / 2) - (80rem / 2)));
    }
}

@utility break-left {
    margin-left: -50vw;

    @media (min-width: theme('screens.sm')) {

        margin-left: calc(-1 * ((max(80rem, 100vw) / 2) - (80rem / 2)));
    }

    @media (min-width: theme('screens.2xl')) {
        margin-left: 0
    }
}

@custom-variant dialog-open (&[open]);

@layer base {
    button:hover {
        cursor: pointer;
    }

    a:hover {
        cursor: pointer;
    }

    p {
        font-size: var(--text-base);
        line-height: 1.75rem;
        font-weight: 350;
    }

    @media (min-width: theme('screens.lg')) {
        p {
            font-size: var(--text-lg);
            line-height: 1.6;
        }
    }

    .h1 {
        @apply font-heading text-[2rem] leading-[1.2] tracking-[-0.03em] sm:text-[3rem] sm:leading-[1.15] sm:tracking-[-0.04em] lg:text-[4rem] lg:leading-[1.1] lg:tracking-[-0.045em];
    }

    .h2 {
        @apply font-subheading text-[1.75rem] leading-[1.2] tracking-[-0.03em] sm:text-[2.125rem] sm:leading-[1.25] sm:tracking-[-0.04em] lg:text-[3rem] lg:leading-[1.15] lg:tracking-[-0.045em];
    }

    h1 {
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: -0.03em;
        font-family: var(--font-heading);
    }

    @media (min-width: theme('screens.sm')) {
        h1 {
            font-size: 3rem;
            line-height: 1.15;
            letter-spacing: -0.04em;
        }
    }

    @media (min-width: theme('screens.lg')) {
        h1 {
            font-size: 4rem;
            line-height: 1.1;
            letter-spacing: -0.045em;
        }
    }


    h2 {
        font-size: 1.75rem;
        letter-spacing: -0.03em;
        line-height: 1.2;
        font-family: var(--font-subheading);
    }

    @media (min-width: theme('screens.sm')) {
        h2 {
            font-size: 2.125rem;
            letter-spacing: -0.04em;
            line-height: 1.25;
        }
    }

    @media (min-width: theme('screens.lg')) {
        h2 {
            font-size: 3rem;
            letter-spacing: -0.045em;
            line-height: 1.15;
        }
    }

    .site-container {
        max-width: var(--breakpoint-8xl);
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (min-width: 640px) {
        .site-container {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    @media (min-width: 1536px) {
        .site-container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .vertical-p {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .vertical-p:first-of-type {
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

    @media (min-width: theme('screens.md')) {
        .vertical-p {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }

        .vertical-p:first-of-type {
            padding-top: 8rem;
            padding-bottom: 6rem;
        }
    }

    @media (min-width: theme('screens.lg')) {
        .vertical-p {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        .vertical-p:first-of-type {
            padding-top: 10rem;
            padding-bottom: 7rem;
        }
    }
}

@utility max-w-8xl {
    max-width: var(--breakpoint-8xl);
}