---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
const { content } = blok;
---

<section {...storyblokEditable(blok)} class="vertical-p">
  <div class="site-container">
    <div class="prose prose-lg prose-invert max-w-none">
      <div set:html={content} />
    </div>
  </div>
</section>