---
const faqs = [
	{
		question: "Is Pronto Invoice really mobile-first?",
		answers: [
			"Yes! Pronto was designed from the ground up for mobile users. You can create, send, and manage invoices entirely from your smartphone—with no need to open a desktop app.",
		],
	},
	{
		question: "Is there a free trial?",
		answers: [
			"Yes! Pronto was designed from the ground up for mobile users. You can create, send, and manage invoices entirely from your smartphone—with no need to open a desktop app.",
		],
	},
	{
		question: "Can I accept payments through Pronto?",
		answers: [
			"Yes! Pronto was designed from the ground up for mobile users. You can create, send, and manage invoices entirely from your smartphone—with no need to open a desktop app.",
		],
	},
	{
		question: "What types of businesses use Pronto?",
		answers: [
			"Yes! Pronto was designed from the ground up for mobile users. You can create, send, and manage invoices entirely from your smartphone—with no need to open a desktop app.",
		],
	},
	{
		question: "Is my data secure?",
		answers: [
			"Yes! Pronto was designed from the ground up for mobile users. You can create, send, and manage invoices entirely from your smartphone—with no need to open a desktop app.",
		],
	},
	{
		question: "Can I use Pronto on my desktop?",
		answers: [
			"Yes! Pronto was designed from the ground up for mobile users. You can create, send, and manage invoices entirely from your smartphone—with no need to open a desktop app.",
		],
	},
	{
		question: "Does Pronto support recurring billing?",
		answers: [
			"Yes! Pronto was designed from the ground up for mobile users. You can create, send, and manage invoices entirely from your smartphone—with no need to open a desktop app.",
		],
	},
	{
		question: "Can I track time with Pronto?",
		answers: [
			"Yes! Pronto was designed from the ground up for mobile users. You can create, send, and manage invoices entirely from your smartphone—with no need to open a desktop app.",
		],
	},
];
---

<section class="site-container">
	<h2
		class="max-w-3xl mb-8 sm:mb-16 w-fit mx-auto font-display text-4xl/tight font-bold tracking-tight text-gray-800 sm:text-6xl/tight text-center"
	>
		Frequently Asked Questions
	</h2>
	<div class="mt-10 flex flex-col sm:mt-20 sm:flex-row sm:gap-16">
		<div class="w-full grow">
			{
				faqs.map((faq) => (
					<details class="group max-w-4xl mx-auto border-gray-400 group w-full overflow-hidden border-b transition-all duration-500 ease-in-out hover:cursor-pointer sm:rounded-xl sm:rounded-b-none [&::details-content]:h-0 [&::details-content]:transition-[block-size,content-visibility] [&::details-content]:duration-1000 [&[open]::details-content]:h-auto">
						<summary class="!text-black [&>p]:w-full hover:bg-gray-200  [&>p]:after:-translate-y-1.5 relative flex p-4 pt-7 pb-5 text-sm sm:text-2xl [&>p]:after:float-right [&>p]:after:flex [&>p]:after:h-8 [&>p]:after:w-8 [&>p]:after:items-center [&>p]:after:justify-center [&>p]:after:rounded-full [&>p]:after:text-2xl [&>p]:after:transition-transform [&>p]:after:duration-300 [&>p]:after:ease-out [&>p]:after:content-['+'] group-open:[&>p]:after:content-['-'] sm:[&>p]:after:h-10 sm:[&>p]:after:w-10 ">
							<p class="text-inherit text-sm sm:text-xl">
								{faq.question}
							</p>
						</summary>
						<div class="p-4 pb-6">
							{faq.answers.map((answer) => (
								<p class="text-sm sm:text-xl">{answer}</p>
							))}
						</div>
					</details>
				))
			}
		</div>
	</div>
</section>

<style is:global>
	:root {
		interpolate-size: allow-keywords;
	}
	details::details-content {
		block-size: 0;
		transition:
			block-size 500ms,
			content-visibility 500ms;
		transition-behavior: allow-discrete;
	}
	details[open]::details-content {
		block-size: auto;
	}
	.aa-Panel {
		z-index: 100000 !important;
		top: 42px !important;
	}
	.aa-SubmitIcon {
		margin-left: 0.5rem;
	}
	@media (min-width: 640px) {
		div.slider {
			padding: 7px;
		}
	}
</style>
