---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/PopNav.astro";
import "../styles/global.css";
import { siteConfig } from "../config/site.ts";
const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="!scroll-smooth [scrollbar-gutter:stable]">
	<head>
		<BaseHead
			metaTitle={title || siteConfig.title}
			metaDescription={description || siteConfig.description}
			metaImage={ogImage || siteConfig.ogImage}
		/>
	</head>
	<body class="overflow-x-hidden">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
