---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/PopNav.astro";
import "../styles/global.css";
const { title, description, ogImage, invertMenu } = Astro.props;
---

<!doctype html>
<html lang="en" class="!scroll-smooth [scrollbar-gutter:stable]">
	<head>
		<BaseHead title={title} description={description} ogImage={ogImage} />
	</head>
	<body class="overflow-x-hidden font-sans">
		<Navbar invertMenu={invertMenu} />
		<slot />
		<Footer />
	</body>
</html>
