---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/PopNav.astro";
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts.ts";
let path = Astro.url.pathname;
const { metaTitle, metaDescription, metaImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="!scroll-smooth [scrollbar-gutter:stable]">
	<head>
		<BaseHead
			metaTitle={metaTitle || SITE_TITLE}
			metaDescription={metaDescription || SITE_DESCRIPTION}
			metaImage={metaImage}
		/>
	</head>
	<body class="overflow-x-hidden">
		<Navbar />
		<slot />
		<!-- <Footer /> -->
	</body>
</html>
